<!-- 
Name: {{name}}<br />
Username: {{username}}<br />
Roles: {{roles}}<br />

<img class="rounded-circle img-fluid" style="border-radius: 50%;" *ngIf="photo" [src]="photo">
<img class="rounded-circle img-fluid" style="border-radius: 50%;" *ngIf="photo==null" src="assets/avatar.png"> -->


<div class="container">
    <h2 class="mb-2">User Profile</h2>
   
    <div class="card m-1" style="width:600px">
      <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">{{username}}</p>
        <h5><span class="badge badge-primary stretched-link">{{roles}}</span></h5>
      </div>
     
    </div>
</div>
<img class="rounded-circle img-fluid" style="border-radius: 50%;" alt="Card image" *ngIf="photo" [src]="photo">
<img class="rounded-circle img-fluid" style="border-radius: 50%;" alt="Card image" *ngIf="photo==null" src="assets/avatar.png">
